body {
    font-size: small;
}

div {
    display: inline-block;
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
}

ul.right {
    float: right;
    margin-left: 25%;
    margin-right: 0;
}

li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    padding: 1em;
    background-color: #fff;
    color: #222;
  }

#logo {
    display: inline;
    margin: 5% 40%;
    text-align: center;
    
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#search {
    margin: 0 40%;
}

input[type=text] {
    width: 100%;
}